body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0px;
  width:100%;
}

/* breakpoints */
$tablet:800px;
$mobile:500px;

/* fonts */
@font-face {
  font-family: lfl;
  src: url('/fonts/lfl.TTF');
}

@font-face {
  font-family: lflo;
  src: url('/fonts/lfl-outline.TTF');
}

/* Template colours */
$darkBlue:#1f7eaa;
$yellow:#fbe02b;
$lightBlue:#66cbe4;
$textShadow:#81b2d4;

/* Whare colours */
$whareOrange:#e85624;
$whareYellow:#e5e519;
$whareLightblue:#66cbe4;
$whareGreen:#73bf44;
$whareDarkblue:#3e53a4;
$wharePurple:#994d9e;

/* Headings */
h1,h2,h3,h4{
  font-family: lfl;
}

/* template */
header{
  width:100%;
  margin:0px;
  box-sizing: border-box;
  height:86px;
  background-image:url('/images/taniko_headertile.svg');
  background-size:contain;
  background-repeat:repeat-x;
  position:relative;
  h1{
    font-size:86px;
    color:$darkBlue;
    font-weight:bolder;
    filter:drop-shadow(4px 4px 0px $textShadow);
    text-transform: uppercase;
    font-weight:bold;
    -webkit-text-stroke: 3px $darkBlue;
    -webkit-text-fill-color: $darkBlue;
    margin:0px auto;
    position: relative;
    bottom:-26px;
    text-align:center;
    z-index:10;
    @media (max-width: $mobile) {
      font-size:70px;
      width:208px;
      line-height:60px;
    }
  }
  .login{
    position:absolute;
    right:70px;
    top:38px;
    border:3px $lightBlue solid;
    font-family:lfl;
    color:$darkBlue;
    background-color: #fff;
    font-size:24px;
    padding:14px;
    box-sizing: border-box;
    z-index:10;
    @media (max-width: $tablet) {
      right:10px;
      top:10px;
    }
    @media (max-width: $mobile) {
      
    }
  }
}

main{
  background-color:$yellow;
  padding:80px 0px 120px 0px;
  position: relative;
  @media (max-width: $tablet) {
    padding:40px 0px 0px 0px;
  }
  @media (max-width: $mobile) {
    padding:60px 0px 0px 0px;
  }
}

.aspectsNav{
  position:absolute;
  width:calc(100% - 140px);
  left:70px;
  top:170px;
  @media (min-width: 1200px) {
    width:1042px;
    left:calc(50% - 521px);
  }
  @media (max-width: 1200px) {
    top:10vw;
  }
  @media (max-width: $tablet) {
    position:relative;
    width:100%;
    top:0px;
    left:0px;
    margin:24px 0px 0px 0px;
    padding:0px;
  }
  a{
    font-family:lfl;
    color:$darkBlue;
    font-size:50px;
    text-decoration: none;
    filter:drop-shadow(2px 2px 0px #fff);
    -webkit-text-stroke: 1px $darkBlue;
    -webkit-text-fill-color: $darkBlue;
    line-height:30px;
    small{
      font-size:0.6em;
    }
    @media (max-width: $tablet) {
      color:$darkBlue;
      font-family:lflo;
      filter:none;
      -webkit-text-stroke:none;
      -webkit-text-fill-color:none;
      background-color:#fff;
      border-bottom:3px $yellow solid;
      letter-spacing:1px;
      small{
        font-size:0.7em;
      }
    }
  }
  .whenua{
    top:330px;
    width:100%;
    padding-top:50px;
    text-align:center;
    @media (max-width: 1200px) {
      padding-top:4vw;
      top:calc(55vw - 310px);
      width:calc(100vw - 600px);
      left:calc(50vw - (50vw - 225px));
    }
  }
  .wairua,.hinegaro{
    top:0px;
  }
  .tinana, .whanau{
    top:150px;
    padding-top:30px;
    @media (max-width: 1200px) {
      top:10vw;
      padding-top:3vw;
    }
  }
  .hinegaro,.whanau{
    right:0px;
    text-align:right;
  }
  .wairua,.tinana{
    left:0px;
  }
  .wairua,.tinana,.hinegaro,.whanau{
    height:150px;
    width:50%;
    @media (max-width: 1200px) {
      height:10vw;
    }
  }
  .wairua,.tinana,.hinegaro,.whanau,.whenua{
    position:absolute;
    @media (max-width: $tablet) {
      position:relative;
      width:100%;
      margin:0px;
      padding:18px 0px;
      display:block;
      height:auto;
      text-align:center;
      top:0px;
      left:0px;
    }
  }
}

/* whare */
.whareContainer{
  position: relative;
  width: 643px;
  height: 449px;
  margin:0px auto;
  @media (max-width: 1200px) {
    width:calc(100% - 600px);
    height:calc((100vw - 600px) * 0.7);
  }
  @media (max-width: $tablet) {
    width:400px;
    height:calc(400px * 0.7);
  }
  @media (max-width: $mobile) {
    width:calc(100vw - 100px);
    height:calc((100vw - 100px) * 0.7);
  }
  svg {
    position: absolute;
    top: 0px;
    left: 0px;
    @media (max-width: $tablet) {
      width:100%;
    }
  }
  #whareBg {
    display: inline;
    fill: #ffffff;
    stroke: #ffffff;
    stroke-width: 12;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  #paepae {
    display: inline;
    fill: #994d9e;
  }
  #maihi-l {
    display: inline;
    fill: #e75725;
  }
  #maihi-r {
    display: inline;
    fill: #66cbe4;
  }
  #po-l {
    display: inline;
    fill: #ac2124;
  }
  #po-r {
    display: inline;
    fill: #74c044;
  }
  #tekoteko {
    fill: #e4e41d;
  }
  #kuwaha {
    display: inline;
    fill: #3e54a4;
  }
}

